{% extends 'tracker/main.html' %}

{% block content %}
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Hikes</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Length (km)</th>
                    <th>Duration</th>
                    <th>Total Ascent (m)</th>
                    <th>Total Descent (m)</th>
                    <th>Date</th>
                    <!-- <th>Notes</th> -->
                </tr>
                {% for hike in hikes %}
                <tr>
                    <td>{{hike.length}}</td>
                    <td>{{hike.duration}}</td>
                    <td>{{hike.total_ascent}}</td>
                    <td>{{hike.total_descent}}</td>
                    <td>{{hike.hike_date}}</td>
                    <!-- <td>{{hike.notes}}</td> -->
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>
{% endblock %}