{% extends 'tracker/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row" style="padding: 1em">
    <div class="col-md-5">
        <div class="card card-body">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-sm btn-primary" type="submit" value="Save">
                <a class="btn btn-sm btn-warning" href="{% url 'mountains' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}