{% extends 'tracker/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row" style="padding-left: 1em;">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure you want to delete '{{mountain}}'?</p>

            <form action="" method="POST">
                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'peak' mountain.id %}">Cancel</a>
                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>

        </div>
    </div>
</div>


{% endblock %}