{% extends 'tracker/main.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-hills">
                <div class="card-header">
                    <h5 class="card-title">Total Hikes</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_hikes}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-mountains">
                <div class="card-header">
                    <h5 class="card-title">Total Length</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_length}} km</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-hikes">
                <div class="card-header">
                     <h5 class="card-title">Total Time</h5>
                </div>
                <div class="card-body">
                     <h3 class="card-title">{{total_time}}</h3>
                 </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-hikes">
                <div class="card-header">
                     <h5 class="card-title">Total Ascent</h5>
                </div>
                <div class="card-body">
                     <h3 class="card-title">{{total_ascent}} m</h3>
                 </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-hikes">
                <div class="card-header">
                     <h5 class="card-title">Total Descent</h5>
                </div>
                <div class="card-body">
                     <h3 class="card-title">{{total_descent}} m</h3>
                 </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-hills">
                <div class="card-header">
                     <h5 class="card-title">Average Speed</h5>
                </div>
                <div class="card-body">
                     <h3 class="card-title">{{average_speed}} km/h</h3>
                 </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-mountains">
                <div class="card-header">
                     <h5 class="card-title">Average Length</h5>
                </div>
                <div class="card-body">
                     <h3 class="card-title">{{average_length}} km</h3>
                 </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-hikes">
                <div class="card-header">
                     <h5 class="card-title">Average Time</h5>
                </div>
                <div class="card-body">
                     <h3 class="card-title">{{average_time}} hours</h3>
                 </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-hikes">
                <div class="card-header">
                     <h5 class="card-title">Average Ascent</h5>
                </div>
                <div class="card-body">
                     <h3 class="card-title">{{average_ascent}} m</h3>
                 </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-hikes">
                <div class="card-header">
                     <h5 class="card-title">Average Descent</h5>
                </div>
                <div class="card-body">
                     <h3 class="card-title">{{average_descent}} m</h3>
                 </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <a class="btn btn-primary btn-block" href="{% url 'add_hike' %}">Add Hike</a>
        </div>
        <br>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Length (km)</th>
                    <th>Duration</th>
                    <th>Total Ascent (m)</th>
                    <th>Total Descent (m)</th>
                    <th>Date</th>
                    <!-- <th>Notes</th> -->
                </tr>
                {% for hike in hikes %}
                <tr><td><a class="btn btn-sm btn-info" href="{% url 'hike' hike.id %}">View</a></td>
                    <td>{{hike.length}}</td>
                    <td>{{hike.duration}}</td>
                    <td>{{hike.total_ascent}}</td>
                    <td>{{hike.total_descent}}</td>
                    <td>{{hike.hike_date}}</td>
                    <!-- <td>{{hike.notes}}</td> -->
                    <!-- <td><a href="">Update</a></td>
                    <td><a href="">Delete</a></td> -->
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>
{% endblock %}