{% extends 'tracker/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row mx-3">
    <div class="col-md-6">
        <div class="row">
            <div class="card card-body">
                <h5>Hike: {{hike.name}}</h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="card card-body">
                <h5>Notes:</h5>
                <hr>
                {{hike.notes}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="card card-body">
                <h5>Stats:</h5>
                <hr>
                <ul>
                    <li><strong>Length:</strong> {{hike.length}} km</li>
                    <li><strong>Duration:</strong> {{hike.duration}} </li>
                    <li><strong>Avg Speed:</strong> {{average_speed}} km/h</li>
                    <li><strong>Total Ascent:</strong> {{hike.total_ascent}} m</li>
                    <li><strong>Total Descent:</strong> {{hike.total_descent}} m</li>
                    <li><strong>Date:</strong> {{hike.hike_date}}</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="card card-body mr-4">
                <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'update_hike' hike.id %}">Update Hike</a>
            </div>
            <div class="card card-body">
                <a class="btn btn-outline-danger btn-sm btn-block" href="{% url 'delete_hike' hike.id %}">Delete Hike</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="col-md-6">
        <div class="card card-body">
            {% if hike.imageURL %}
                <img id="featured" src="{{hike.imageURL}}">
            {% else %}
                <h5>No Photos</h5>
            {% endif %}
            <div id="slide-wrapper">
                <img class="arrow" src="{% static 'images/arrow-left.png' %}" >
                <div id="slider">
                    {% for image in hike.image_set.all %}
                    <img class="thumbnail" src="{{image.imageURL}}">
                    {% endfor %}
                </div>
                <img class="arrow" src="{% static 'images/arrow-right.png' %}" >
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let thumbnails = document.getElementsByClassName('thumbnail')
    let activeImages = document.getElementsByClassName('active')
    for (var i=0; i < thumbnails.length; i++){
        thumbnails[i].addEventListener('mouseover', function(){

            if (activeImages.length > 0){
                activeImages[0].classList.remove('active')
            }
            this.classList.add('active')
            document.getElementById('featured').src = this.src
        })
    }

    const buttonRight = document.getElementById('slideRight');
    const buttonLeft = document.getElementById('slideLeft');

    buttonRight.addEventListener('click', function(){
        document.getElementById('slider').scrollLeft += 180;
    })

    buttonLeft.addEventListener('click', function(){
      document.getElementById('slider').scrollLeft -= 180;
    })
</script>

{% endblock %}