{% extends 'tracker/main.html' %}
{% block content %}

<br>

<div class="row" style="padding: 0em 1em">
    <div class="col-md">
        <div class="card card-body">
            <h5>Mountain:</h5>
            <hr>
            <a class="btn btn-outline-info btn-sm btn-block" href="">Update Mountain</a>
            <a class="btn btn-outline-danger btn-sm btn-block" href="#">Delete Mountain</a>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Notes</h5>
            <hr>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Times Climbed:</h5>
            <hr>
        </div>
    </div>
</div>

<br>

<div class="row" style="padding: 0em 1em">
    <div class="col">
        <div class="card card-body">
            <form method="get">
               
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="row" style="padding: 1em 1em">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>Height (m)</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Area</th>
                    <th>Date Climbed</th>
                </tr>
                
                <tr>
                    <td>{{peak.name}}</td>
                    <td>{{peak.height}}</td>
                    <td>{{peak.longitude}}</td>
                    <td>{{peak.latitude}}</td>
                    <td>{{peak.area}}</td>
                    <td>{{peak.date_climbed}}</td>
                    
                </tr>
               
            </table>
        </div>
    </div>
</div>

{% endblock %}